NODE_ENV=
NEXT_PUBLIC_CHAIN=
NEXT_BSC_PUBLIC_CHAIN=
NEXT_PUBLIC_MINT_ADDRESS=
SOLANA_RPC=
PRIVATE_KEY=
# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL=
# Direct connection to the database. Used for migrations.
DIRECT_URL=